<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow" style="width: 100%; max-width: 500px;">
    <form id="userForm" action="/auth/store" method="POST">
      <% if (errors.length > 0) { %>
        <ul class="list-group my-5">
          <% errors.forEach(msg => { %>
            <li class="list-group-item list-group-item-danger"><%= msg %></li>
          <% }) %>
        </ul>
      <% } %>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" value="<%=username %>" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" value="<%= password %>"/>
      </div>
      <button type="submit" class="btn btn-primary w-100">Create</button>
    </form>
  </div>
</div>
